<template>
  <v-toolbar>
    <v-toolbar-side-icon></v-toolbar-side-icon>
    <v-toolbar-title>{{profile.name}}</v-toolbar-title>
    <v-spacer/>
    <v-toolbar-items class="hidden-sm-and-down">
      <v-btn flat @click="routerGo('/login')">Войти</v-btn>
    </v-toolbar-items>
  </v-toolbar>
</template>

<script>
  export default {
    data () {
      return {
        profile: {
          name: ""
        }
      }
    },
    methods: {
      routerGo: function (path) {
        this.$router.push(path)
      }
    }
  }
</script>
