<template>
  <div>
    <app-header/>
    <app-content/>

  </div>
</template>

<script>
  import AppHeader from "./AppHeader"
  import AppContent from "./AppContent"
  import AppFooter from "./AppFooter"

  export default {
    name: "App",
    components: {AppHeader, AppContent, AppFooter}
  }
</script>
