<template>
  <div>
    <v-container>
      <v-layout>
        <v-flex md4 offset-md4>
          <v-card class="pa-3">
            <v-card-title class="headline">
              Подтвердите {{this.typeContact}}
            </v-card-title>
            <v-card-text>
              <div class="text-block">
                Вам на {{this.typeContact}} отправлено сообщение с кодом подтверждения
              </div>
              <v-form data-vv-scope="reg-form">
                <v-layout wrap>
                  <v-flex md12>
                    <v-text-field
                      label="Введите код подтверждения"
                      prepend-icon="confirmation_number"
                      v-validate="'required|min:6'"
                      mask="# # # # # #"
                      v-model="code"
                      data-vv-name="code"
                      :error-messages="errors.collect('reg-form.code')"
                    ></v-text-field>
                  </v-flex>
                </v-layout>
              </v-form>
            </v-card-text>
            <v-card-actions>
              <v-btn class="btn" @click="$router.back()">Назад</v-btn>
              <v-spacer/>
              <v-btn class="btn-green" @click="submitConfirm">Далее</v-btn>
            </v-card-actions>
          </v-card>
        </v-flex>
      </v-layout>
    </v-container>
  </div>
</template>

<script>
  export default {
    $_veeValidate: {
      validator: 'new'
    },
    mounted: function () {
      this.axios.post(process.env.LOGIN_HOST + process.env.CHECK_PATH, {
        name: this.name,
        type: this.typeContact,
        contact: this.valueContact,
        password: this.password,
        pw_confirm: this.pw_confirm
      })
        .then(response => function () {

        })
        .catch(e => function () {

        })
    },
    computed: {

      textBtnChangeTypeContact: function () {
        if (this.isPhone()) {
          return "Использовать адрес электронной почты"
        } else if (this.isEmail()) {
          return "Использовать номер телефона"
        }
      }
    },
    data() {
      return {
        phoneCountryCode: "+7",
        phoneCountryCodes: [
          {
            text: 'Россия',
            value: '+7',
            flag: 'https://cdnjs.cloudflare.com/ajax/libs/flag-icon-css/3.1.0/flags/1x1/ru.svg'
          },
          {
            text: 'Беларусь',
            value: '+375',
            flag: 'https://cdnjs.cloudflare.com/ajax/libs/flag-icon-css/3.1.0/flags/1x1/by.svg'
          }
        ],
        typeContact: "",
        valueContact: "",
        email: "",
        phone: "",
        code: "",
        name: "",
        password: "",
        pw_confirm: ""
      }
    },

    methods: {
      check() {

      },
      submitConfirm() {
        this.$validator.validateAll('reg-form').then(res => {
          if (res) {
            this.axios.post(process.env.LOGIN_HOST + process.env.REG_PATH, {
              name: this.name,
              type: this.typeContact,
              contact: this.valueContact,
              password: this.password,
              pw_confirm: this.pw_confirm
            })
              .then(response => function () {

              })
              .catch(e => function () {

              })
          }
        });
      },
      isPhone() {
        if (this.typeContact === "phone") {
          return true;
        }
        return false;
      }, isEmail() {
        if (this.typeContact === "email") {
          return true;
        }
        return false;
      },
      changeTypeContact() {
        if (this.typeContact === "phone") {
          this.typeContact = "email"
        } else {
          this.typeContact = "phone"
        }
        this.errors.clear();
        this.$validator.reset();
      },
    }
  }
</script>

<style>
</style>
