<template>
  <div>
    <v-container>
      <v-layout>
        <v-flex md6 offset-md3>
          <v-card class="pa-3">
            <v-card-title class="headline">
              Создайте аккаунт
            </v-card-title>
            <v-card-text>
              <v-form data-vv-scope="reg-form">
                <v-layout wrap>
                  <v-flex md6>
                    <v-text-field
                      label="Имя"
                      prepend-icon="person"
                      v-validate="'required|min:3'"
                      v-model="name"
                      data-vv-name="name"
                      :error-messages="errors.collect('reg-form.name')"
                    ></v-text-field>
                  </v-flex>
                  <v-flex md6>
                  </v-flex>
                  <v-layout v-show="isPhone()">
                    <v-flex md2>
                      <v-select
                        content-class="item-select"
                        prepend-icon="phone"
                        v-model="phoneCountryCode"
                        :items="phoneCountryCodes"
                        min-width="200px"
                        attach
                      >
                        <template slot="selection" slot-scope="data">
                          <v-avatar
                            :size="24"
                            color="black"
                            tile>
                            <img :src=data.item.flag alt="avatar">
                          </v-avatar>
                        </template>
                        <template slot="item" slot-scope="data">
                          <v-avatar
                            :size="24"
                            color="black"
                            tile>
                            <img :src=data.item.flag alt="avatar">
                          </v-avatar>
                          <div style="margin: 5px">{{data.item.text}}</div>
                          <div>{{data.item.value}}</div>
                        </template>
                      </v-select>
                    </v-flex>
                    <v-flex md6 offset-md1>
                      <v-text-field
                        label="Номер телефона"
                        v-validate="isPhone()?'required|min:10':''"
                        v-model="phone"
                        data-vv-name="phone"
                        :error-messages="errors.collect('reg-form.phone')"
                        mask="###-###-##-##"
                      ></v-text-field>
                    </v-flex>
                  </v-layout>
                  <v-layout v-show="isEmail()">
                    <v-flex md8>
                      <v-text-field
                        prepend-icon="email"
                        label="Адрес электронной почты"
                        v-validate="isEmail()?'required|email':''"
                        v-model="email"
                        data-vv-name="email"
                        :error-messages="errors.collect('reg-form.email')"
                      ></v-text-field>
                    </v-flex>
                  </v-layout>
                  <v-flex md12 class="left-text">
                    <v-btn class="btn-as-text" small flat @click="changeTypeContact">
                      {{this.textBtnChangeTypeContact}}
                    </v-btn>
                  </v-flex>
                  <v-flex md5>
                    <v-text-field
                      ref="password"
                      label="Придумайте пароль"
                      v-model="password"
                      v-validate="'required|min:6|alpha_num'"
                      data-vv-name="password"
                      :error-messages="errors.collect('reg-form.password')"
                    ></v-text-field>
                  </v-flex>
                  <v-flex md6 offset-md1>
                    <v-text-field
                      label="Введите пароль повторно"
                      v-model="pw_confirm"
                      v-validate="'required|confirmed:password'"
                      data-vv-name="pw_confirm"
                      :error-messages="errors.collect('reg-form.pw_confirm')"
                    ></v-text-field>
                  </v-flex>
                </v-layout>
              </v-form>
            </v-card-text>
            <v-card-actions>
              <v-btn class="btn" to="/login">Войти</v-btn>
              <v-spacer/>
              <v-btn class="btn-green" @click="submitReg">Далее</v-btn>
            </v-card-actions>
          </v-card>
        </v-flex>
      </v-layout>
    </v-container>
  </div>
</template>

<script>
  export default {
    $_veeValidate: {
      validator: 'new'
    },
    computed: {
      valueContact: function () {
        if (this.isPhone()) {
          return this.phoneCountryCode + this.phone
        } else if (this.isEmail()) {
          return this.email
        }
      },
      textBtnChangeTypeContact: function () {
        if (this.isPhone()) {
          return "Использовать адрес электронной почты"
        } else if (this.isEmail()) {
          return "Использовать номер телефона"
        }
      }
    },
    data() {
      return {
        phoneCountryCode: "+7",
        phoneCountryCodes: [
          {
            text: 'Россия',
            value: '+7',
            flag: 'https://cdnjs.cloudflare.com/ajax/libs/flag-icon-css/3.1.0/flags/1x1/ru.svg'
          },
          {
            text: 'Беларусь',
            value: '+375',
            flag: 'https://cdnjs.cloudflare.com/ajax/libs/flag-icon-css/3.1.0/flags/1x1/by.svg'
          }
        ],
        typeContact: "email",
        email: "",
        phone: "",
        code: "",
        name: "",
        password: "",
        pw_confirm: ""
      }
    },

    methods: {
      submitReg() {
        this.$router.push('confirm');
        return
        this.$validator.validateAll('reg-form').then(res => {
          if (res) {
            this.axios.post(process.env.LOGIN_HOST + process.env.REG_PATH, {
              name: this.name,
              type: this.typeContact,
              contact: this.valueContact,
              password: this.password,
              pw_confirm: this.pw_confirm
            })
              .then(response => function () {

              })
              .catch(e => function () {

              })
          }
        });
      },
      isPhone() {
        if (this.typeContact === "phone") {
          return true;
        }
        return false;
      }, isEmail() {
        if (this.typeContact === "email") {
          return true;
        }
        return false;
      },
      changeTypeContact() {
        if (this.typeContact === "phone") {
          this.typeContact = "email"
        } else {
          this.typeContact = "phone"
        }
        this.errors.clear();
        this.$validator.reset();
      },
    }
  }
</script>

<style>
</style>
