<template>
  <div id="app">
    <router-view/>
  </div>
</template>

<script>
  export default {
    name: 'App'
  }
</script>

<style>
  #app {
    font-family: 'Avenir', Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-align: center;
    color: #2c3e50;
    margin-top: 0px;
  }

  .btn-as-text {
    margin: 0;
    padding: 0;
    color: #4caf50;
    text-transform: none;
  }

  .btn-green {
    background-color: #4caf50;
    color: white;
  }

  .btn {
    background-color: white;
    color: #4caf50;
  }

  .item-select {
    color: black;
    background-color: white;
  }

  .text-block {
    font-size: 16px;
    padding: 16px 0;
    text-align: left;
  }

  .left-text {
    text-align: left
  }

  .error--text {
    color: #d50000 !important;
  }

  .primary--text {
    color: #4caf50;
  }
</style>
