<template>
  <div>
    <v-container fluid fill-height>
      <v-layout align-center justify-center>
        <v-flex xs12 sm8 md4>
          <v-card class="pa-3">
            <v-card-title class="headline">
              <v-flex>
                Вход
              </v-flex>
            </v-card-title>
            <v-card-text>
              <v-form data-vv-scope="login-form">
                <v-layout wrap>
                  <v-flex md12>
                    <v-text-field
                      prepend-icon="person"
                      label="Логин"
                      v-model="login"
                      v-validate="'required|email'"
                      data-vv-name="login"
                      :error-messages="errors.collect('login-form.login')"
                      ></v-text-field>
                  </v-flex>
                  <v-flex md12>
                    <v-text-field
                      prepend-icon="lock"
                      label="Пароль"
                      v-model="password"
                      v-validate="'required'"
                      data-vv-name="password"
                      :error-messages="errors.collect('login-form.password')"
                      ></v-text-field>
                  </v-flex>
                  <v-flex class="left-text">
                    <v-btn class="btn-as-text" small flat to="/restore">
                      Восстановить пароль
                    </v-btn>
                  </v-flex>
                </v-layout>
              </v-form>
            </v-card-text>
            <v-card-actions>
              <v-btn class="black--text" to="/reg">Создать аккаунт</v-btn>
              <v-spacer/>
              <v-btn color="green white--text" @click="submitLogin">Войти</v-btn>
            </v-card-actions>
          </v-card>
        </v-flex>
      </v-layout>
    </v-container>
  </div>
</template>

<script>
  export default {
    data() {
      return {
        login: "",
        password: "",
      }
    },
    methods: {
      submitLogin() {
        this.$validator.validateAll('login-form').then(res => {
          if (res) {
            this.axios.post(process.env.LOGIN_HOST + process.env.LOGIN_PATH, {
              code: this.code
            })
              .then(response => function () {

              })
              .catch(e => function () {

              })
          }
        });
      }
    }
  }
</script>
