<template>
  <div>
    <v-container>
      <v-layout>
        <v-flex md4 offset-md4>
          <v-stepper v-model="step">
            <v-stepper-items>
              <v-stepper-content step="1">
                <v-card>
                  <v-card-title class="headline">
                    Восстановление аккаунта
                  </v-card-title>
                  <v-card-text>
                    <v-form data-vv-scope="reg-form">
                      <v-layout wrap>
                        <v-layout v-show="isPhone()">
                          <v-flex md3>
                            <v-select
                              content-class="item-select"
                              prepend-icon="phone"
                              v-model="phoneCountryCode"
                              :items="phoneCountryCodes"
                              min-width="200px"
                              attach
                            >
                              <template slot="selection" slot-scope="data">
                                <v-avatar
                                  :size="24"
                                  color="black"
                                  tile>
                                  <img :src=data.item.flag alt="avatar">
                                </v-avatar>
                              </template>
                              <template slot="item" slot-scope="data">
                                <v-avatar
                                  :size="24"
                                  color="black"
                                  tile>
                                  <img :src=data.item.flag alt="avatar">
                                </v-avatar>
                                <div style="margin: 5px">{{data.item.text}}</div>
                                <div>{{data.item.value}}</div>
                              </template>
                            </v-select>
                          </v-flex>
                          <v-flex md8 offset-md1>
                            <v-text-field
                              label="Номер телефона"
                              v-validate="isPhone()?'required|min:10':''"
                              v-model="phone"
                              data-vv-name="phone"
                              :error-messages="errors.collect('reg-form.phone')"
                              mask="###-###-##-##"
                            ></v-text-field>
                          </v-flex>
                        </v-layout>
                        <v-layout v-show="isEmail()">
                          <v-flex md12>
                            <v-text-field
                              prepend-icon="email"
                              label="Адрес электронной почты"
                              v-validate="isEmail()?'required|email':''"
                              v-model="email"
                              data-vv-name="email"
                              :error-messages="errors.collect('reg-form.email')"
                            ></v-text-field>
                          </v-flex>
                        </v-layout>
                        <v-flex md12 class="left-text">
                          <v-btn class="btn-as-text" small flat @click="changeTypeContact">
                            {{this.textBtnChangeTypeContact}}
                          </v-btn>
                        </v-flex>
                      </v-layout>
                    </v-form>
                  </v-card-text>
                  <v-card-text>
                    <v-alert
                      :value="errors.has('shared')"
                      color="error"
                      icon="warning"
                      outline
                    >
                      {{ errors.first('shared') }}
                    </v-alert>
                  </v-card-text>
                  <v-card-actions>
                    <v-btn class="btn" to="/login">Войти</v-btn>
                    <v-spacer/>
                    <v-btn class="btn-green" @click="submitReg">Далее</v-btn>
                  </v-card-actions>
                </v-card>
              </v-stepper-content>
              <v-stepper-content step="2">
                <v-card-title class="headline">
                  Подтвердите {{this.textTitleCode}}
                </v-card-title>
                <v-card>
                  <v-card-text>
                    <v-form data-vv-scope="confirm-form">
                      <v-layout wrap>
                        <v-flex md12>
                          <div class="text-block">
                            В целях безопасности мы должны убедиться, что это действительно вы.
                            Вам на {{this.textTitleCode}} отправлено сообщение с кодом подтверждения.
                          </div>
                        </v-flex>
                        <v-flex md9>
                          <div class="text-block font-weight-bold">
                            {{this.contactValue}}
                          </div>
                        </v-flex>
                        <v-flex md8>
                          <v-text-field
                            prepend-icon="confirmation_number"
                            label="Введите код подтверждения"
                            v-model="code"
                            v-validate="'required|min:6|max:6'"
                            data-vv-name="code"
                            :error-messages="errors.collect('confirm-form.code')"
                            mask="# # # # # #"
                          >
                          </v-text-field>
                        </v-flex>
                      </v-layout>
                    </v-form>
                  </v-card-text>
                  <v-card-actions>
                    <v-btn class="btn" @click="back">Назад</v-btn>
                    <v-spacer/>
                    <v-btn color="green" @click="submitConfirm">Готово</v-btn>
                  </v-card-actions>
                </v-card>
              </v-stepper-content>
            </v-stepper-items>
          </v-stepper>
        </v-flex>
      </v-layout>
    </v-container>
  </div>
</template>

<script>
  export default {
    $_veeValidate: {
      validator: 'new'
    },
    computed: {
      contactValue: function () {
        if (this.isPhone()) {
          return this.phoneCountryCode + this.phone
        } else if (this.isEmail()) {
          return this.email
        }
      },
      textBtnChangeTypeContact: function () {
        if (this.isPhone()) {
          return "Использовать адрес электронной почты"
        } else if (this.isEmail()) {
          return "Использовать номер телефона"
        }
      },
      textTitleCode: function () {
        if (this.isPhone()) {
          return "номер телефона"
        } else if (this.isEmail()) {
          return "адрес электронной почты"
        }
      },
      textHeaderCode: function () {
        if (this.isPhone()) {
          return "Вам на номер телефона " + this.contactValue + " отправлено sms-сообщение с кодом подтверждения."
        } else if (this.isEmail()) {
          return "Вам на адрес электронной почты " + this.contactValue + " отправлено письмо с кодом подтверждения."
        }
      }
    },
    data() {
      return {
        phoneCountryCode: "+7",
        phoneCountryCodes: [
          {
            text: 'Россия',
            value: '+7',
            flag: 'https://cdnjs.cloudflare.com/ajax/libs/flag-icon-css/3.1.0/flags/1x1/ru.svg'
          },
          {
            text: 'Беларусь',
            value: '+375',
            flag: 'https://cdnjs.cloudflare.com/ajax/libs/flag-icon-css/3.1.0/flags/1x1/by.svg'
          }
        ],
        typeContact: "email",
        email: "",
        phone: "",
        code: "",
        name: "",
        password: "",
        pw_confirm: "",
        step: 1,
      }
    },

    methods: {
      submitReg() {
        this.$validator.validateAll('reg-form').then(res => {
          if (res) {
            this.axios.post(process.env.LOGIN_HOST + process.env.REG_PATH, {
              name: this.name,
              type: this.typeContact,
              contact: this.contact,
              password: this.password,
              pw_confirm: this.pw_confirm
            })
              .then(response => function () {

              })
              .catch(e => function () {

              })
          }
        });
      },
      submitConfirm() {
        this.$validator.validateAll('confirm-form').then(res => {
          if (res) {
            this.axios.post(process.env.LOGIN_HOST + process.env.CONFIRM_PATH, {
              login: this.login,
              password: this.password
            })
              .then(response => function () {

              })
              .catch(e => function () {

              })
          }
        });
      },
      isPhone() {
        if (this.typeContact === "phone") {
          return true;
        }
        return false;
      }, isEmail() {
        if (this.typeContact === "email") {
          return true;
        }
        return false;
      },
      back() {
        this.step--
      },
      defaultErrorServer() {
        this.errors.add({field: "shared", msg: "Извините, сервис временно не доступен."})
      },
      isUndefined(obj) {
        if (typeof(obj) === "undefined") {
          return true
        }
        return false
      },
      errorHandler(e, scope, fields) {
        if (this.isUndefined(e) || this.isUndefined(e.response) || this.isUndefined(e.response.data)) {
          this.defaultErrorServer()
          return
        }
        var errs = e.response.data
        if (!Array.isArray(errs) || !Array.isArray(fields) || scope === "") {
          return
        }
        errs.forEach((item, i) => {
          if (fields.indexOf(item.SubCode) + 1) {
            this.errors.add({field: scope + "." + item.SubCode, msg: item.Message})
          } else {
            this.errors.add({field: "shared", msg: item.Message})
          }
        });
      },
      changeTypeContact() {
        if (this.typeContact === "phone") {
          this.typeContact = "email"
        } else {
          this.typeContact = "phone"
        }
        this.errors.clear();
        this.$validator.reset();
      },
    }
  }
</script>

<style>
</style>
