<template>
  <div>
    <v-toolbar>
      <v-menu>
        <v-btn slot="activator">Open Menu</v-btn>
        <!-- content ...  -->
      </v-menu>
      <v-spacer></v-spacer>
      <v-btn icon @click="setFullscreen"><v-icon>fullscreen</v-icon></v-btn>
    </v-toolbar>

    <div>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad asperiores quo impedit nihil blanditiis fugiat ipsum iste aliquid explicabo saepe expedita, optio voluptas veritatis iusto, quas praesentium dolores laboriosam excepturi.</p>
    </div>
  </div>
</template>

<script>
  export default {
    data() {
      return {
        target: document
      }
    },
    methods: {
      setFullscreen(){
        this.target = this.$el
        this.$el.requestFullscreen()
      }
    }
  }
</script>
